/*body{
    margin: 0;
    padding: 0;
    height: 1oovh;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.slider{
    width: 1024px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    padding-top: 50px;
    width: 20%;
    transition: -1s;
    padding-left: 79px;
  }
.navigation-manual{
    position: absolute;
    width: 1024px;
    margin-top:-60px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right:40px
}
.manual-btn:hover{
    background:#40D3DC ;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
